body{
  background-color: black;
  margin:0
}
header span{
  color: blueviolet;
}
header p{
  color:blueviolet;
  margin-left: 100px;
  margin-right: 170px;
  font-weight: 400;
  font-size: larger;
}
.img1{
  position: fixed;
  z-index: -1;
  top: -10px;
  left: -130px;
  /* transform: rotate(85deg); */
}
.img-wrapper{
  width: 450px;
  height:300px;
  margin:20px;
 align-items: center;
}
.img2{
  position: fixed;
  z-index: -1; 
  bottom: 0;
  right: -5px;
  /* transform: rotate(85deg); */
}
.future-scope{
  margin: 50px;
  font-size: larger;
  font-weight: 400;
  margin-right: 130px;
}
p{
  color:blueviolet
}
.cards-wrapper{
  display: flex;
  margin: 30px;
}

